$font-family-text: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$paleta:(
    blanco: white,
    negro: black,
    gris-claro:darkgray,
    violeta-oscuro: #2d3047,
    rosa-oscuro: rgba(233, 125, 125, 0.753),
);

