.iconsFooterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: map-get($paleta, violeta-oscuro );
    .logosFooter {
        display: flex;
        width: 40px;
        padding: 2vh 0;
        &:hover{
            transition: all 1s;
            transform: scale(1.1);
            
        }
    }
    .radius {
        border-radius: 20px;
    }
}

